[tool.ruff]
line-length = 120

# https://docs.astral.sh/ruff/rules/
select = ["ALL"]
ignore = [
    "W191", "E111", "E114", "E117", "D206", "D300", "Q000", "Q001", "Q002", "Q003", "COM812", "COM819", "ISC001", "ISC002",
    "PD901", "D212", "D203", "T201"
]
fixable = ["ALL"]
unfixable = []
